<footer>
  <div class="iconos">
    <a href="https://web.facebook.com"
      ><img
        src="assets/images/facebook.png"
        alt="facebook"
    /></a>
    <a href="https://web.whatsapp.com/"
      ><img
        src="assets/images/logotipo-grande-de-whatssapp.png"
        alt="whatsapp"
    /></a>
    <a href="https://www.instagram.com/"
      ><img
        src="assets/images/logotipo-de-instagram.png"
        alt="instagram"
    /></a>
  </div>
  
  <nav class="footernav">
    <ul>
      <li>categorias</li>
      <li>categorias</li>
      <li>categorias</li>
    </ul>
  </nav>
  
  <h3>© Copyright 2024 Bogotá Institute of Technology.</h3>
  
  <div class="ubicacion">
      <img
        src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2023/02/google-maps-2961754.jpg?tf=1200x"
        alt="ubicacion"
      />
  </div>
  </footer>
