<footer>
  <div class="iconos">
    <a href="https://web.facebook.com"
      ><img
        src="https://www.clipartmax.com/png/middle/102-1023713_icono-de-facebook-gratis-png-y-vector-facebook-png.png"
        alt="facebook"
    /></a>
    <a href="https://web.whatsapp.com/"
      ><img
        src="https://th.bing.com/th/id/OIF.LQzyvNv5B5naKK2JigYLXw?rs=1&pid=ImgDetMain"
        alt="whatsapp"
    /></a>
    <a href="https://www.instagram.com/"
      ><img
        src="https://w7.pngwing.com/pngs/336/165/png-transparent-instagram-instagram-logo-3d-instagram-logo-social-media-logo-application-3d-icon.png"
        alt="instagram"
    /></a>
  </div>
  
  <nav class="footernav">
    <ul>
      <li>categorias</li>
      <li>categorias</li>
      <li>categorias</li>
    </ul>
  </nav>
  
  <h3>© Copyright 2024 Bogotá Institute of Technology.</h3>
  
  <div class="ubicacion">
      <img
        src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2023/02/google-maps-2961754.jpg?tf=1200x"
        alt="ubicacion"
      />
  </div>
  </footer>
