footer {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    display: flex;
    align-content: center;
    width: 100%;
    justify-content: space-between;
    background-color: var(--fourth-color);
}
  .ubicacion {
    display: flex;
    align-content: center;
    border-radius: 5px;
    height: 100px;
  }

  .ubicacion img {
    height: 100%
  }

  .footernav {
    display: flex;
    align-content: center;
  }

  .footernav ul {
    padding: 0;
    list-style: none;
  }

  .footernav ul li {
    margin: 5px;
  }

  a{
    height: 100%;
    padding: 0 20px;
    border-radius: 2px;
    display: flex;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    color: white;
    transition: 0.5s ease-in-out;
}

a:hover{
    background-color: #88927e;
}

  h3 {
    margin: auto 10px;
  }

  footer .iconos {
    display: flex;
    color: white;
    font-family: DM Serif Display;
    align-self: center;
  }

  footer .iconos a {
    height: auto;
    align-content: center;
  }

  footer .iconos img {
    height: 40px;
    margin: 5px;
  }