<footer>
  <nav class="footernav">
    <ul>
    <a href="https://web.facebook.com"
      ><img
        src="assets/images/facebook.png"
        alt="facebook"
    /><li>Willvels</li></a>
    <a href="https://www.instagram.com/"
      ><img
        src="assets/images/logotipo-de-instagram.png"
        alt="instagram"
    /> <li>Willvels</li></a>
    <a href="https://web.whatsapp.com/"
      ><img
        src="assets/images/logotipo-grande-de-whatssapp.png"
        alt="whatsapp"
    /> <li>30215453</li></a>
    </ul>
  </nav>
  
  <h3>© Copyright 2024 Bogotá Institute of Technology.</h3>
  
  <div id="logo">
      <img
        src="/assets/images/LogoVels.png"
        alt="ubicacion"
      />
  </div>
  </footer>
