@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


h2 {
    font-family: "Roboto Condensed", sans-serif;
}

li{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: #c6cebe;
}

nav {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: black;
}

nav a{
    height: 100%;
    padding: 0 20px;
    border-radius: 2px;
    display: flex;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    color: white;
    transition: 0.5s ease-in-out;
}


#log-out{
    color: white;
}

nav a:hover{
    background-color: #88927e;
}

nav svg{
    fill: white
}

#sidebar-active{
    display: none;
}
.open-sidebar-button, .close-sidebar-button{
    display: none;
    cursor: pointer;
}

.logo-container {
    height: 60px;
    display: flex;
    flex-direction: row;
}

.logo-container h2{
    font-size: 25px;
    padding: 15px;
}

#logo {
    height: 100%;
    width: auto;
    border-radius: 5px;
    object-fit: cover;
    padding-left: 10px;
}

.userButtons {
    height: 40px;
    width: auto;
    object-fit: cover;
    cursor: pointer;
}

.user-icons {
    display: flex;
    height: 100%;
}

aside.cart {
    background: linear-gradient(#88927e, #FCF4F0);
    height: 100vh;
    width: 30vw;
    position: fixed;
    top: 0;
    right: 0;
    padding: 2rem;
    transform: translateX(110%);
    transition: transform 0.4s ease-in-out;
    box-shadow:  -5px 1px 18px 0px rgba(0,0,0,0.75);
    z-index: 2000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

section.cart-products{
    display: flex;
    flex-direction: colum;
    flex-grow: 1;
}

aside.cart.show{
    transform: translateX(0);
}

aside .close{
    position: absolute;
    font-size: 20px;
    top: 35px;
    right: 50px;
    width: 70px;
    border: none;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    padding: 5px;
    background-color: #ff4a4a;
    color: white;
    transition: 0.4s ease;
}

aside .close:hover{
    background-color: #b62a2a;
}

.no-checkout {
    color: black;
    text-decoration: none;
}

.primary-button {
    background-color: rgb(117, 194, 117);
    transition: 0.4s ease;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
  }

  .primary-button:hover {
    background-color: rgb(89, 156, 89);
    color: rgb(255, 255, 255);
  }

.details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
}

@media (max-width: 1023px){
    aside.cart{
        width: 40%;
      }
}

@media (max-width: 767px){

    aside.cart{
        width: 100%;
      }

    header {
        justify-content: space-between;
    }
   .links-container{
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.479);
    backdrop-filter: blur(6px);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
   }

   nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
   }

   .nav-links {
    display: none;
   }

   .user-icons{
    display: block;
    width: 100%;
   }
   .open-sidebar-button, .close-sidebar-button{
    display: block;
    padding: 20px;
   }
    #sidebar-active:checked ~ .links-container{
        right: 0;
    }

    aside.cart{
        width: 80vw;
        
    }
}


