<header>
  <div class="logo-container">
    <a [routerLink]="['']">
      <img src="../../../assets/images/LogoVels.png" alt="" id="logo" />
    </a>
  </div>
  <nav class="nav-items">
    <ul>
      <li><a [routerLink]="['/catalogue']">Catalogue</a></li>
      <li><a [routerLink]="['']">About Us</a></li>
      <li><a (click)="logout()" [routerLink]="['']">Cerrar sesion</a></li>
    </ul>
  </nav>
  <div class="header-icons">
    @if(!isLogged()){<a [routerLink]="['/login']">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png"
        alt=""
        class="userButtons"
      /> </a
    >} @else {}
    <div (click)="toggleShowCart()">
      <img src="assets/images/shopping-cart.png" alt="" class="userButtons" />
    </div>
  </div>
</header>
<aside [ngClass]="showCart() ? 'cart show' : 'cart'">
  <div>
    <h2>Carrito</h2>
    <button class="close" (click)="toggleShowCart()">Close</button>
    <section>
      @for(product of cart().values(); track product._id) {
      <app-cart-products [product]="product" />
      }
    </section>
  </div>
  <div>
    <h3>
      Total <span>{{ total() | currency }}</span>
    </h3>
    <a routerLink="/checkout" class="checkout">Checkout</a>
  </div>
</aside>
