li{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: #eedcff;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav li {
    text-decoration: underline;
}

nav a {
    color: black;
}

.logo-container {
    height: 60px;
}

#logo {
    height: 100%;
    width: auto;
    border-radius: 5px;
    object-fit: cover;
}

.userButtons {
    height: 50px;
    width: auto;
    object-fit: cover;
}

.header-icons {
    display: flex;
    gap: 20px;
    height: 100%;
}