<header>
  <div class="logo-container">
    <a [routerLink]="['']">
      <img
        src="https://img.freepik.com/vector-gratis/vector-diseno-degradado-colorido-pajaro_343694-2506.jpg?size=338&ext=jpg&ga=GA1.1.672697106.1718323200&semt=ais_user"
        alt=""
        id="logo"
      />
    </a>
  </div>
  <nav class="nav-items">
    <ul>
      <li><a [routerLink]="['/catalogue']">Catalogue</a></li>
      <li><a [routerLink]="['']">About Us</a></li>
      <li><a (click)="logout()" [routerLink]="['']">Cerrar sesion</a></li>
    </ul>
  </nav>
  <div class="header-icons">
    <a [routerLink]="['/login']">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png"
        alt=""
        class="userButtons"
      />
    </a>
    <div (click)="toggleShowCart()">
      <img src="assets/images/shopping-cart.png" alt="" class="userButtons" />
    </div>
  </div>
</header>
<aside [ngClass]="showCart() ? 'cart show' : 'cart'">
  <h2>Carrito</h2>
  <button class="close" (click)="toggleShowCart()">Close</button>
  <section></section>
  <div>
    <h3>Total</h3>
    <a href="">Checkout</a>
  </div>
</aside>
