<header>
  <img
    src="https://media.istockphoto.com/id/1349392741/es/foto/icono-de-vela.jpg?s=1024x1024&w=is&k=20&c=_ZwwvDOFpRCabXGipaRYWZ95HJ9Uyf7LWeqovnCAN-I="
    alt=""
    class="logo"
  />
  <nav>
    <ul>
      <li>Lorem, ipsum.</li>
      <li>Lorem, ipsum.</li>
      <li>Lorem, ipsum.</li>
    </ul>
  </nav>
  <div>
    <a href="">
      <img
        src="https://media.istockphoto.com/id/1349392741/es/foto/icono-de-vela.jpg?s=1024x1024&w=is&k=20&c=_ZwwvDOFpRCabXGipaRYWZ95HJ9Uyf7LWeqovnCAN-I="
        alt=""
        class="userButtons"
      />
    </a>
    <a href="">
      <img
        src="https://media.istockphoto.com/id/1349392741/es/foto/icono-de-vela.jpg?s=1024x1024&w=is&k=20&c=_ZwwvDOFpRCabXGipaRYWZ95HJ9Uyf7LWeqovnCAN-I="
        alt=""
        class="userButtons"
      />
    </a>
  </div>
</header>
