h1, h2, p, button{
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin: 0 auto;
    max-width: 1200px;
}


.carousel-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-item {
    height: 400px;
    max-height: fit-content;
    width: 100%;
}

.carousel-inner {
    border-radius: 10px;
}

.carousel {
    max-width: 100%;
    margin: 20px 0;
}

section.grid-container{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    margin-bottom: 20px;
}

.ver-todo-button{
    text-align: center;
    border: none;
    background-color: rgb(167, 73, 255);
    color: white;
    border-radius: 6px;
    padding: 10px 20px;
    width: fit-content;
    transition: all 0.5s;
}

.ver-todo-button:hover {
    transform: scale(1.03);
    box-shadow:  6px 6px 6px 1px rgba(26, 25, 26, 0.185);;
}

.verTodo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img {
    width: 100%;
    object-fit: cover;
}

ul {
    margin-top: 50px;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color:unset;
}

button a {
    text-decoration: none;
    color: white;
}

@media (max-width: 1023px){
    section.grid-container{
        grid-template-columns: 1fr 1fr 1fr;
        padding: 20px;
    }
}

@media (max-width: 768px){
    section.grid-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 767px){
    section.grid-container{
        grid-template-columns: 1fr;
    }
}