<app-header/>
<main>
  <div id="portada">
    <h1>Lorem ipsum dolor sit.</h1>
  </div>
  <h2>Lorem ipsum dolor sit.</h2>
  <section>
    <section class="grid-container">
      @for (product of products(); track product._id){
      <a [routerLink]="['/product', product._id]">
      <app-card-product [titulo]="product.name" [description]="product.description" [image]="product.image" [price]="product.price"/>
    </a>
      }
    </section>
    <div class="verTodo">
      <a [routerLink]="['catalogue']" class="ver-todo-button">Ver todo</a>
    </div>
  </section>
</main>
<app-footer/>