<app-header />
<main>
  <div class="titulo">
    <h1>Catalogo</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
      dignissimos exercitationem laboriosam officia quae. Beatae
    </p>
  </div>
  <section class="grid-container">
    @for (product of products(); track product.id) {
    <div>
      <a [routerLink]="['/product', product._id]">
        <app-card-product
          [titulo]="product.name"
          [description]="product.description"
          [image]="product.image"
          [priceS]="product.size[0].price"
          [routerLink]="['/product/' + product._id]"
        />
      </a>
      <button class="add-cart" (click)="addToCart(product)">Agregar</button>
    </div>
    }
  </section>
</main>
<app-footer />
