<app-header />
<main>
  <section class="presentation">
    <div class="slogan-text">
      <h3><b>Nuestro Catálogo</b></h3>
      <p>
        Escoge como ambientar tu hogar y hacer que te sientas en tu lugar
        favorito todos los días
      </p>
    </div>

    <div class="slogan-image">
      <img src="assets\images\LogoVels.png" alt="" />
    </div>
  </section>
  <section class="grid-container">
    @for (product of products(); track product.id) {
    <div>
      <a [routerLink]="['/product', product._id]">
        <app-card-product
          [titulo]="product.name"
          [description]="product.description"
          [image]="product.image"
          [priceS]="product.size[0].price"
          [routerLink]="['/product/' + product._id]"
        />
      </a>
    </div>
    }
  </section>
</main>
<app-footer />
