<main>
    <section class="ficha-producto">
      <div class="product-image">
        <img
          src="https://mariatini.com/cdn/shop/files/IMG_5556.jpg?v=1707505793&width=823"
          alt="Vela"
        />
      </div>
      <div class="producto-texto">
        <h1>Nombre producto</h1>
        <h2>$50.000</h2>
        <p>
          Descripcion Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Dolores obcaecati explicabo nam, iure delectus, fugit ad rem nostrum,
          aspernatur ipsum recusandae. Corporis deleniti facere hic nihil unde a
          aperiam reprehenderit.
        </p>
        <ul>
          <li>item</li>
          <li>item</li>
          <li>item</li>
        </ul>
      </div>
    </section>
  </main>
  