@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

h1,h2 {
    font-family: "Roboto Condensed", sans-serif;
}

p,li {
    font-family: "Montserrat", sans-serif;
}

main {
    max-width: 1000px;
    margin: 50px auto;
}

section.ficha-producto{
    display: flex;
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    background-color: var(--primary-color);
    box-shadow: -5px 1px 14px 9px rgba(0,0,0,0.48);
}

div.product-image {
    margin: 0 20px 0 0;
    width: 50%;
    display: flex;
}

img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

div.detail-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
}

div.grid-container {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
}

ul.scents {
    list-style: inside;
}

ul {
    margin: 30px 0;
    list-style: none;
}

li {
    margin-bottom: 10px;
}
.card-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.primary-button {
    background-color: rgb(117, 194, 117);
    transition: 0.4s ease;
  }

  .primary-button:hover {
    background-color: rgb(89, 156, 89);
    color: rgb(255, 255, 255);
  }

  .secondary-button {
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgb(160, 160, 160);
    transition: 0.4s ease;
    color: white;
  }

  .secondary-button:hover{
    background-color: rgb(139, 139, 139);
  }


button{
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 70%;
    color: white;
  }

button:hover {
    transform: scale(1.02);
    box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.616);
    transition: 0.5s ease-in-out;
}


@media (max-width: 1023px){
    img {width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1.1;
}
}

@media (max-width: 768px){
    section.ficha-producto{
        display: flex;
        max-width: 100%;
        justify-content: space-between;
    }
    div.product-image {
        height: auto;
        max-width: 100%;
        margin: 20px;
    }
    div.producto-texto{
        max-width: 100%;
    }
    
}

@media (max-width: 767px){
    section.ficha-producto{
        flex-direction: column;
        padding: 20px;
    }
    div.producto-texto{
        max-width: 100%;
    }
    div.product-image {
        width: auto;
    }
}