<app-header />
<main>
  <section class="ficha-producto">
    <div class="product-image">
      <img [src]="'http://localhost:3000/uploads/'+ product().image" />
    </div>
    <div class="text-container">
      <div class="detail">
        <h1>{{ product()?.name }}</h1>
        <h2>{{ product()?.size[0].price | currency:'COP':'symbol':'1.0-0' }}</h2>
        <p>
          {{ product()?.description }}
        </p>
        <ul>
          <p>aromas disponibles</p>
          <li>{{product()?.scent[0]}}</li>
          <li>{{product()?.scent[1]}}</li>
          <li>{{product()?.scent[2]}}</li>
        </ul>
      </div>
      <div class="car-button">
        <button>Add to the cart and checkout</button>
        <button>Add to the car</button>
      </div>
    </div>
  </section>
</main>
<app-footer />
