h1,h2,p,li {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    max-width: 1000px;
    margin: 50px auto;
}

section.ficha-producto{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

div.product-image {
    margin: 0 20px;
    width: 60%;
}

img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

div.text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.car-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button{
    margin-top: 10px;
    border-radius: 5px;
    border-color: rgb(225, 149, 255);
    height: 50px;
    width: 100%;
    background-color: rgb(255, 160, 227);
    color: white;
  }

ul {
    margin-top: 50px;
}

li {
    margin-bottom: 10px;
}

@media (max-width: 1023px){
    img {width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1.1;
}
}

@media (max-width: 768px){
    section.ficha-producto{
        display: flex;
        max-width: 100%;
        justify-content: space-between;
    }
    div.product-image {
        height: auto;
        max-width: 100%;
        margin: 20px;
    }
    div.producto-texto{
        max-width: 100%;
    }
    
}

@media (max-width: 767px){
    section.ficha-producto{
        flex-direction: column;
        padding: 20px;
    }
    div.producto-texto{
        max-width: 100%;
    }
    div.product-image {
        width: auto;
    }
}