<app-header/>
<main>
    <section class="ficha-producto">
      <div class="product-image">
        <img
          [src]="product()?.image"
          [alt]="product()?.titulo"
        />
      </div>
      <div class="producto-texto">
        <h1>{{product()?.titulo}}</h1>
        <h2>{{product().price}}</h2>
        <p>
          {{product()?.description}}
        </p>
        <ul>
          <li>item</li>
          <li>item</li>
          <li>item</li>
        </ul>
      </div>
    </section>
  </main>
  <app-footer/>