<app-header />
<div
  [ngClass]="{ 'grid-container': updateUser, 'card-container': !updateUser }"
>
  <div class="card">
    
      <div class="text">
        <h1>Tu perfil</h1>
        <p>
          Estos son tus datos con los que te has registrado en nuestra pagina, si deseas cambiarlos eres bienvenido, eso si... que no se te olviden!
        </p>
      </div>
        <div class="input-container">
          <label>Nombre actual</label>
          <input class="read-inputs" [value]="user().firstname" readonly />
        </div>
        <div class="input-container">
          <label>Apellido actual</label>
          <input class="read-inputs" [value]="user().lastname" readonly />
        </div>
        <div class="input-container">
          <label>Email actual</label>
          <input class="read-inputs" [value]="user().email" readonly />
        </div>

      <span>
        <a class="primary-button" (click)="logOut()">Cerrar sesion</a>
        <a class="secondary-button"*ngIf="!updateUser" (click)="toggleUpdateUser()">Editar</a>
      </span>
  </div>

  @if (updateUser){
  <div class="card">
    <div class="text">
      <h1>Actualiza tu perfil</h1>
      <p>
        Para poder acceder a las funcionalidades de nuestra app, debes crearte
        una cuenta que puedas recordar, actualiza tu perfil con este formulario
      </p>
    </div>
    <div class="form">
      <form [formGroup]="updateForm" (submit)="onSubmit($event)">
        <div class="input-container">
          <label for="firstname">Nuevo Nombre</label>
          <input type="text" id="firstname" formControlName="firstname" />
          @if (firstname?.invalid && firstname?.hasError('required') &&
          firstname?.touched) {
          <small class="small-input">Campo requerido</small>
          }
        </div>
        <div class="input-container">
          <label for="lastname">Nuevo Apellido</label>
          <input type="text" id="lastname" formControlName="lastname" />
          @if (lastname?.invalid && lastname?.hasError('required') &&
          lastname?.touched) {
          <small class="small-input">Campo requerido</small>
          }
        </div>
        <div class="input-container">
          <label for="email">Nuevo Email</label>
          <input type="text" id="email" formControlName="email" />
          @if (email?.invalid && email?.hasError('required') && email?.touched)
          {
          <small class="small-input">Campo requerido</small>
          } @if (email?.hasError('email')) {
          <small class="small-input">No se puede verificar el email</small>
          }
        </div>

        <div class="input-container">
          <label for="password">Crear nueva Contraseña</label>
          <input type="password" id="password" formControlName="password" />
          @if (password?.invalid && password?.hasError('required') &&
          password?.touched) {
          <small class="small-input">Campo requerido</small>
          } @if (password?.hasError('minlength')){
          <small class="small-input">Minimo 5 caracteres</small>
          }
        </div>
        <span>
          <div class="login">
            <a class="primary-button" (click)="toggleUpdateUser()">Cancelar</a>
          </div>
          <button
          type="submit"
          class="secondary-button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          >
          Listo
        </button>
      </span>

          @if (updateForm.valid) {

          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Actualizado con exito!!
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  Tus datos se han actualizado, ya puedes iniciar sesion con ellos normalmente!
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    
                    data-bs-dismiss="modal"
                  >
                    Cerrar
                  </button>
                </div>
              </div>
            </div>
          </div>
          }
      </form>
    </div>
  </div>
  }
</div>
  <app-footer />
