<app-header />
<main>
  <section class="payment">
    <div>
      <h2>Detalles de pago</h2>
      <div class="payment-details">
        <form action="" (submit)="OnSubmit()" [formGroup]="paymentDetails">
          <div class="formGroup">
            <input type="text" name="name" id="name" />
            <label for="name">Nombre</label>
          </div>
          <div class="formGroup">
            <input type="text" name="lastname" id="lastname" />
            <label for="lastname">Apellido</label>
          </div>
          <div class="formGroup">
            <input type="text" name="address" id="address" />
            <label for="address">Dirección de envío</label>
          </div>
          <div class="formGroup">
            <input type="text" name="apto" id="apto" />
            <label for="apto">Apartamento, casa, etc.</label>
          </div>
          <div class="formGroup">
            <input type="text" name="city" id="city" />
            <label for="city">Ciudad de Residencia</label>
          </div>
          <div class="formGroup">
            <input type="text" name="department" id="department" />
            <label for="department">Departamento</label>
          </div>
          <h2>Información de pago</h2>
          <div class="formGroup">
            <input type="number" name="card-number" id="card-number" />
            <label for="card-number">Número de tarjeta</label>
          </div>
          <div class="formGroup">
            <input type="number" name="exp" id="exp" />
            <label for="exp">Fecha de expiración</label>
          </div>
          <div class="formGroup">
            <input type="number" name="cvv" id="cvv" />
            <label for="cvv">CVV</label>
          </div>
          <button type="submit" (click)="OnSubmit()">Realizar pedido</button>
        </form>
      </div>
    </div>
  </section>
  <section class="cart">
    <h2>Productos en el carrito</h2>
    @for(product of products().values(); track product._id){
    <app-cart-products [product]="product" />
    }
    <h3>
      Total <span>{{ total() | currency }}</span>
    </h3>
  </section>
</main>
