@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

h2, label, input, h3, button {
    font-family: "Montserrat", sans-serif;
}

main {
    background: radial-gradient(#E3ADA2, #CC5C6C);
    display: flex;
    flex-direction: row;
}


.payment {
    padding: 25px;
    height: 100%;
    width: 55vw;
}

.payment-details {
    display: flex;
    padding: 10px;
}

.formGroup {
    position: relative;
    padding: 10px;
}

.formGroup {
  width: 35vw;
  padding: 5px;
}

.cart {
    padding: 20px;
    height: 155vh;
    width: 45vw;
    background: linear-gradient(#DAE2E4, #FCF4F0);
    gap: 20px;
    box-shadow: -7px 1px 10px -3px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.payment-details button {
    background-color: #c6cebe;
    border-radius: 20px;
    display: block;
    padding: 5px;
}

@media(max-width: 767px) {
    main {
        display: flex;
        flex-direction: column-reverse;
    }

    .cart {
        width: 100%;
        overflow-y: auto;
        height: 100%;
    }

    .formGroup input {
        width: 70vw;
    }
}

