<app-header />
<main>
  <section class="payment">
    <div>
      <h2>Detalles de pago</h2>
      <div class="payment-details">
        <form (submit)="OnSubmit()" [formGroup]="paymentDetails">
          <mat-form-field class="formGroup">
            <mat-label for="name">Nombre</mat-label>
            <input matInput type="text" name="name" id="name" />
          </mat-form-field>
          <mat-form-field class="formGroup">
            <mat-label for="lastname">Apellido</mat-label>
            <input matInput type="text" name="lastname" id="lastname" />
          </mat-form-field>
          <mat-form-field class="formGroup">
            <mat-label for="address">Dirección</mat-label>
            <input matInput type="text" name="address" id="address" />
          </mat-form-field>
          <mat-form-field class="formGroup">
            <mat-label for="apto">Apartamento, casa, etc</mat-label>
            <input matInput type="text" name="apto" id="apto" />
          </mat-form-field>
          <mat-form-field class="formGroup">
            <mat-label for="city">Ciudad</mat-label>
            <input matInput type="text" name="city" id="city" />
          </mat-form-field>
          <mat-form-field class="formGroup">
            <mat-label for="department">Departamento</mat-label>
            <input matInput type="text" name="department" id="department" />
          </mat-form-field>
          <h2>Información de pago</h2>
          <mat-form-field class="formGroup">
            <mat-label for="card-number">Número de tarjeta</mat-label>
            <input matInput type="text" name="card-number" id="card-number" />
          </mat-form-field>
          <mat-form-field class="formGroup">
            <mat-label for="exp">Expiración</mat-label>
            <input matInput type="text" name="exp" id="exp" />
          </mat-form-field>
          <mat-form-field class="formGroup">
            <mat-label for="cvv">CVV</mat-label>
            <input matInput type="text" name="cvv" id="cvv" />
          </mat-form-field>
          <button type="submit" (click)="OnSubmit()">Realizar pedido</button>
        </form>
      </div>
    </div>
  </section>
  <section class="cart">
    <h2>Productos en el carrito</h2>
    @for(product of products().values(); track product._id){
    <app-cart-products [product]="product" />
    }
    <h3>
      Total <span>{{ total() | currency }}</span>
    </h3>
  </section>
</main>
