<div class="login-container">
    <div class="login-card">
      <h1>Log In</h1>
      <p>Enter your Credentials to Login</p>
      <div class="form">
        <form action="">
          <div class="email-input">
            <label for="email">Email De Usuario</label>
            <input type="text" id="email" />
          </div>
          <div>
            <label for="password">Contraseña del usuario</label>
            <input type="password" id="password" />
          </div>
        </form>
        <button type="submit">Enviar</button>
      </div>
    </div>
  </div>
