<app-header />
<main>
  <div class="login-container">
      <div class="login-card">
        <h1>Login</h1>
        <p>Accede a tu cuenta</p>
        <div class="form">
          <form action="">
            <div class="email-input">
              <label for="email">Email De Usuario</label>
              <input type="text" id="email" />
            </div>
            <div>
              <label for="password">Contraseña</label>
              <input type="password" id="password" />
            </div>
          </form>
          <span>
            <div class="register">
              <small>No estas registrado?</small>
              <a [routerLink]="['/register']">Registrate</a>
            </div>
            <button type="submit">Enviar</button>
        </span>
        </div>
      </div>
    </div>
</main>
<app-footer/>