/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

p, li, button, label {
    font-family: "Montserrat", sans-serif;
}

:root {
    --primary-color: #EDD5D8;
    --secondary-color: #D8ABB7;
    --third-color: #FCF4F0;
    --fourth-color: #C6CEBE;
    --font-family: "Montserrat";
    --font-family-title: "Montserrat Alternates", sans-serif;
}

body#body {
    margin: 0;
    height: 100%;
    background: radial-gradient(#E3ADA2, #CC5C6C)
}

