/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

p, li, button, label {
    font-family: "Montserrat", sans-serif;
}

:root {
    --primary-color: #EDD5D8;
    --secondary-color: #D8ABB7;
    --third-color: #FCF4F0;
    --fourth-color: #C6CEBE;
    --font-family: font-family: "Montserrat", sans-serif;
}

body#body {
    margin: 0;
    height: 100%;
    background: radial-gradient(#E3ADA2, #CC5C6C)
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
