<article class="product">
  <div class="presentation">
    <figure>
      <div>
        <img
          [src]="'http://localhost:3000/uploads/' + product.image"
          [alt]=""
        />
      </div>
      <div>
        <figcaption>
          <p>{{ product.name }}</p>
          <p>{{ product.size[0].price | currency }}</p>
        </figcaption>
      </div>
    </figure>
  </div>
  <div class="actions">
    <button (click)="delete(product._id)">Borrar</button>
    <form action="">
      <button type="button" class="decrement" (click)="decrement(product._id)">
        -
      </button>
      <input
        type="number"
        name="quantity"
        id="quantity"
        [formControl]="productQuantity"
      />
      <button type="button" class="increment" (click)="increment(product._id)">
        +
      </button>
    </form>
  </div>
</article>
