.products {
    border: 2px solid rgb(204, 163, 250);
    background-color: rgb(208, 200, 252);
    border-radius: 6px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    transition: all 0.5s;
}

.products:hover {
    transform: scale(1.03);
    box-shadow:  6px 5px 10px 1px rgba(26, 25, 26, 0.185);;
}

.products img {
    width: 100%;
    object-fit: cover;
    max-height: 200px;
}

h2,h3 {
    margin: 0;
}

.title-price {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 10px;
}

.description {
    height: auto;
    padding: 0 10px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

button {
    text-align: center;
    border: none;
    background-color: rgb(167, 73, 255);
    color: white;
    border-radius: 6px;
    padding: 10px 20px;
    width: fit-content;
}

@media (max-width: 1023px){
   
}

@media (max-width: 768px){
   .products {
    height: auto;
   }
}

@media (max-width: 767px){
   .image-container {
    width: 100%;
   }
   .image-container img {
    width: 100%;
   }
   .products {
    width: 80%;
    margin: 0 auto;
    height: auto;
   }
}