.products {
    border: 2px solid rgb(204, 163, 250);
    background-color: rgb(208, 200, 252);
    border-radius: 6px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.products img {
    width: 100%;
}

h2,h3 {
    margin: 0;
}

.title-price {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 10px;
}

.description {
    height: auto;
    padding: 0 10px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

button {
    text-align: center;
    border: none;
    background-color: rgb(167, 73, 255);
    color: white;
    border-radius: 6px;
    padding: 10px 20px;
    width: fit-content;
}
